@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');





.container{
width: 1400px;
height: 500px;
}

.app-color-blue-1{
    color: #346ee1;
}
.app-color-blue-3{
     color: #a0b4d6;
}

.app-color-black{
    color:#3E4350;
}

.app-color-gray-1{
    color: #949aa7;
}

.app-color-red{
    color: #949aa7;;
}

.app-bg-blue-1{
    background:#346ee1;
}
.app-bg-blue-2{
    background: #f5f9fc;
}

.app-button-shadow{
    box-shadow: 0px 5px 10px 0px rgb(145 167 210 / 25%);
}