@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');





.container{
width: 1800px;
height: 500px;
}

.app-color-blue-1{
    color: #346ee1;
}
.app-color-blue-3{
     color: #a0b4d6;
}

.app-color-black{
    color:#3E4350;
}

.app-color-gray-1{
    color: #949aa7;
}

.app-color-red{
    color: #949aa7;;
}

.app-bg-blue-1{
    background:#346ee1;
}
.app-bg-blue-2{
    background: #f5f9fc;
}

.app-button-shadow{
    box-shadow: 0px 5px 10px 0px rgb(145 167 210 / 25%);
}

.app-bg-blue-3{
    background: #4a7ae5;
}

.app-bg-blue-4{
    background: #518aea;
}

.app-bg-white-1{
    background: #f4f8f9;
}

.app-color-yellow-1{
    color: #d7ac67;
}

.app-bg-yellow-2{
  background: #fff9eb;
}

.app-bg-yellow-3{
    background: #ffbe4e;
}

.app-border-1{
    border: 1px solid #f4f6f9;
}

.app-color-red-1{
    color: #f81111;
}

.app-color-red-4{
    color: #fd0e0e;
}

.app-bg-red-2{
    background: #fef5f6;
}

.app-color-green{
    color: #0cbda8;
}

.active{
    position: relative;
    box-shadow: 6px -6px 11px 0 rgb(0 0 0 / 8%);
}

.active::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 55%;
    background-color: #346ee1;
    top: 20px;
    left: 0;
}
